.articleText {
    overflow: auto;
    height: 25%;
}

.parentCard {
  position:relative;

}

.buttonCard {
  position: absolute;
  bottom:   0;
}

.wide {
  width: 100%;
}

.red {
  padding: 0.5 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.list-title {
  display: inline;
}

.blue {
  padding: 0 0.5rem;
  margin-top: 1em;
}

.orange {
  padding: 0 0.5rem;
  margin-top: 1em;
}
