.articleText {
    overflow: auto;
    height: 25%;
}

.parentCard {
  position:relative;

}

.buttonCard {
  position: absolute;
  bottom:   0;
}

.wide {
  width: 100%;
}

.red {
  padding: 0 0.5rem;
  margin-top: 1em;
}

.blue {
  padding: 0 0.5rem;
  margin-top: 1em;
}
